
@use "tailwindcss.css";

@use "./font-icon";
@use "colors";
//@import "react-vant/es/styles";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

:root {

	// 字号
	--text-size-xs: 0.75rem; // 小字
	--text-size-sm: 0.875rem; // 辅助文字
	--text-size-base: 1rem; // 正文
	--text-size-xl: 1.25rem; // 标题
	--text-size-2xl: 1.5rem; // 大标题
	--text-size-3xl: 1.875rem;
	--text-size-4xl: 2.25rem;

	// 颜色

	// 字体颜色
	--text-black: var(--oc-gray-9);   // 文本颜色 正文
	--text-base: var(--oc-gray-7);   // 文本颜色 正文
	--text-sub: var(--oc-gray-5);   // 文本的辅助颜色
	--text-disabled: var(--oc-gray-6);   // 文本禁用状态

	// 灰色背景  基础
	--bg-base: var(--oc-gray-0);
	// 比基础更深一点 用于背景色的叠加
	--bg-base-1: var(--oc-gray-1);

	// 描边
	// 灰色描边 3
	--bdc-base: var(--oc-gray-3);
	// 表示禁用状态时
	--bdc-disabled: var(--oc-gray-2);

	// 反转bg
	--bg-base-inv: var(--oc-gray-9);
	// 反转bd
	--bd-base-inv: var(--oc-gray-7);
	// 反转bg
	--text-base-inv: var(--oc-gray-0);

	// 系统主要颜色
	--primary: #328E6E;
	// 更浅一点
	--primary-1: #67AE6E;
	// 辅助的
	--primary-2: #90C67C;
	// 反差的
	--primary-3: #E1EEBC;

	// Surface background (default white)
	--bg-surface: var(--oc-white);
}

[data-theme='dark'] {
	--text-black: var(--oc-gray-1);
	--text-base: var(--oc-gray-3);
	--text-sub: var(--oc-gray-5);
	--text-disabled: var(--oc-gray-7);

	--bg-base: var(--oc-gray-9);
	--bg-base-1: var(--oc-gray-8);
	--bg-surface: var(--oc-gray-7);

	--bdc-base: var(--oc-gray-7);
	--bdc-disabled: var(--oc-gray-8);

	--bg-base-inv: var(--oc-gray-1);
	--bd-base-inv: var(--oc-gray-3);
	--text-base-inv: var(--oc-gray-9);
}

body {
	//background: var(--background);
	//color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100vh;
	//background: palegoldenrod;
}

.app-root {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	.app-center {
		width: 100%;
		height: 100%;
		padding-bottom: 4rem;
	}
}

.maplibregl-control-container {
	display: none;
}

.maplibregl-popup-content {
	color: #000;
}
